@import 'tailwindcss';


:root {

  --bg: #06050a;
  --primary: #6366F1;
  --secondary: #F4F4F5;
  --accent: #10B981;
  --text: #18181B;

}

body {
  overflow-x: hidden;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

